{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Home</title>
<style>
    #home{
        background: #aaa;
    }
</style>
{%endblock title %}
{% block content %}

    <table class="bookList">
        <thead>
            <tr>
                <td>Sr. No.</td>
                <td>Book Name</td>
                <td>Author</td>
                <td>Type</td>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
                <tr>
                    <td></td>
                    <td>{{book.bookName}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.bookType}}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock content %}